@model IEnumerable<christopherStudyGroup.Models.PersonModel>

@{
    ViewBag.Title = "ListPeople";
}

<link href="@Url.Content("~/Content/NewStyle.css")" rel="stylesheet" type="text/css" />
<h2>Study Group</h2>

@Html.ActionLink("Create New", "Create")

<p>
    <label>Search String</label>
    <input type="text" id="string" />
    <button type="submit" class="btn btn-success" id="subBtn">Submit</button>
</p>

<table class="table" id="table">
    <tr id="headerStyle">
        <th>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            Delete
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentNumber)
            </td>
            <td class="fName">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                <button type="button" class="buttonStyle" onclick="deleteRow(this)">Delete</button>
            </td>
        </tr>
    }
</table>

<p>
    <button class="btn btn-success" onclick="saveTable()">Save to Local Storage</button>
    <button class="btn btn-success" onclick="loadTable()">Retrieve from Local Storage</button>
    <button class="btn btn-success" onclick="clearTableStorage()">Clear Local Storage</button>
</p>
<script src="@Url.Content("~/Scripts/MyScript.js")"></script>

<script>
    window.onload = function () {
        changeTextColor();
    };
</script>



